<html>
    <body>
        <form method="GET">
            Nombre:
            <input type="text" name="nombre"/>
            <input type="submit" value="Buscar"/>
        </form>

        <h2> Resultado: {{ nombre  }} </h2>
{% comment %} 
        <img src=src="https://media.giphy.com/media/26tk0jALFpsXmAF8c/giphy.gif" />

        <!-- Busdqueda -->
        <script type="application/javascript">
            var busqueda = new URLSearchParams(document.location.search);
            if (busqueda.has("nombre")){
                document.getElementById("resultado").innerHTML = "Resultado: "
                + busqueda.get("nombre")
            }

        </script>
        <!- Fin busqueda --> {% endcomment %}
    </body>
</html>
